.banner {
    background-image: linear-gradient(to right,
    #635dc0,
    #3027ae);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner > h1 {
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";
}

.banner > P {
    font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
    margin: 2vmax;
    padding: 1vmax 2vmax;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transform: scale(0.98);
}

.banner > a > button:focus {
    outline: none;
}

.banner > a > button:active {
    transform: scale(0.9);
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 74%, 0% 100%, 100% 100%);
    max-width: 100%;
}

.homeHeading {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 5vmax auto;
}




