.productHeading {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2.8vmax auto 2vmax;
    text-align: center;
    width: 20vmax;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.productContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filter {
    /*display: flex;*/
    width: 15%;
    padding: 1vmax 0 0 2vmax;
}

.filter > h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmax auto;
}
