.createContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebarCreate {
    width: 20%;
    margin-left: 4rem;
    margin-top: 4rem;
    align-self: flex-start;
}


.previewImageContainer {
    position: relative;
    display: inline-block;
}



.previewImageContainer svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    color: red;
}

.previewImageContainer svg:hover {
    opacity: 1;
}

.previewImageContainer img {
    margin: 1rem 1rem;
    max-width: 4rem;
    max-height: 4rem;
    object-fit: cover;
}


@media screen and (max-width: 600px) {
    .createContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
